USE [master]
GO
/****** Object:  Database [Model1]    Script Date: 25.12.2022 07:20:32 ******/
CREATE DATABASE [Model1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dersler', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Dersler.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Dersler_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Dersler_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Model1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Model1]
GO
/****** Object:  Table [dbo].[BilisimEtutSalonuSet]    Script Date: 25.12.2022 07:20:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BilisimEtutSalonuSet](
	[BilSalonNo] [int] IDENTITY(1,1) NOT NULL,
	[Tarih] [int] NOT NULL,
	[Saat] [int] NOT NULL,
	[SalonNo] [nvarchar](max) NOT NULL,
	[EtutSalonuSalonNo] [int] NOT NULL,
 CONSTRAINT [PK_BilisimEtutSalonuSet] PRIMARY KEY CLUSTERED 
(
	[BilSalonNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EtutSalonuSet]    Script Date: 25.12.2022 07:20:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EtutSalonuSet](
	[SalonNo] [int] IDENTITY(1,1) NOT NULL,
	[SalonAdi] [nvarchar](max) NOT NULL,
	[KullaniciNo] [nvarchar](max) NOT NULL,
	[KullanicilarKullaniciNo] [int] NOT NULL,
 CONSTRAINT [PK_EtutSalonuSet] PRIMARY KEY CLUSTERED 
(
	[SalonNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KullanicilarSet]    Script Date: 25.12.2022 07:20:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KullanicilarSet](
	[KullaniciNo] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](max) NOT NULL,
	[Sifre] [nvarchar](max) NOT NULL,
	[Mail] [nvarchar](max) NOT NULL,
	[Telefon] [nvarchar](max) NOT NULL,
	[Adres] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_KullanicilarSet] PRIMARY KEY CLUSTERED 
(
	[KullaniciNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SayisalEtutSalonuSet]    Script Date: 25.12.2022 07:20:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SayisalEtutSalonuSet](
	[SaySalonNo] [int] IDENTITY(1,1) NOT NULL,
	[Tarih] [int] NOT NULL,
	[Saat] [int] NOT NULL,
	[SalonNo] [int] NOT NULL,
	[EtutSalonuSalonNo] [int] NOT NULL,
 CONSTRAINT [PK_SayisalEtutSalonuSet] PRIMARY KEY CLUSTERED 
(
	[SaySalonNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SozelEtutSalonuSet]    Script Date: 25.12.2022 07:20:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SozelEtutSalonuSet](
	[SozSalonNo] [int] IDENTITY(1,1) NOT NULL,
	[Tarih] [int] NOT NULL,
	[Saat] [int] NOT NULL,
	[SalonNo] [nvarchar](max) NOT NULL,
	[EtutSalonuSalonNo] [int] NOT NULL,
 CONSTRAINT [PK_SozelEtutSalonuSet] PRIMARY KEY CLUSTERED 
(
	[SozSalonNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_EtutSalonuBilisimEtutSalonu]    Script Date: 25.12.2022 07:20:33 ******/
CREATE NONCLUSTERED INDEX [IX_FK_EtutSalonuBilisimEtutSalonu] ON [dbo].[BilisimEtutSalonuSet]
(
	[EtutSalonuSalonNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_KullanicilarEtutSalonu]    Script Date: 25.12.2022 07:20:33 ******/
CREATE NONCLUSTERED INDEX [IX_FK_KullanicilarEtutSalonu] ON [dbo].[EtutSalonuSet]
(
	[KullanicilarKullaniciNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_EtutSalonuSayisalEtutSalonu]    Script Date: 25.12.2022 07:20:33 ******/
CREATE NONCLUSTERED INDEX [IX_FK_EtutSalonuSayisalEtutSalonu] ON [dbo].[SayisalEtutSalonuSet]
(
	[EtutSalonuSalonNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_EtutSalonuSozelEtutSalonu]    Script Date: 25.12.2022 07:20:33 ******/
CREATE NONCLUSTERED INDEX [IX_FK_EtutSalonuSozelEtutSalonu] ON [dbo].[SozelEtutSalonuSet]
(
	[EtutSalonuSalonNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BilisimEtutSalonuSet]  WITH CHECK ADD  CONSTRAINT [FK_EtutSalonuBilisimEtutSalonu] FOREIGN KEY([EtutSalonuSalonNo])
REFERENCES [dbo].[EtutSalonuSet] ([SalonNo])
GO
ALTER TABLE [dbo].[BilisimEtutSalonuSet] CHECK CONSTRAINT [FK_EtutSalonuBilisimEtutSalonu]
GO
ALTER TABLE [dbo].[EtutSalonuSet]  WITH CHECK ADD  CONSTRAINT [FK_KullanicilarEtutSalonu] FOREIGN KEY([KullanicilarKullaniciNo])
REFERENCES [dbo].[KullanicilarSet] ([KullaniciNo])
GO
ALTER TABLE [dbo].[EtutSalonuSet] CHECK CONSTRAINT [FK_KullanicilarEtutSalonu]
GO
ALTER TABLE [dbo].[SayisalEtutSalonuSet]  WITH CHECK ADD  CONSTRAINT [FK_EtutSalonuSayisalEtutSalonu] FOREIGN KEY([EtutSalonuSalonNo])
REFERENCES [dbo].[EtutSalonuSet] ([SalonNo])
GO
ALTER TABLE [dbo].[SayisalEtutSalonuSet] CHECK CONSTRAINT [FK_EtutSalonuSayisalEtutSalonu]
GO
ALTER TABLE [dbo].[SozelEtutSalonuSet]  WITH CHECK ADD  CONSTRAINT [FK_EtutSalonuSozelEtutSalonu] FOREIGN KEY([EtutSalonuSalonNo])
REFERENCES [dbo].[EtutSalonuSet] ([SalonNo])
GO
ALTER TABLE [dbo].[SozelEtutSalonuSet] CHECK CONSTRAINT [FK_EtutSalonuSozelEtutSalonu]
GO
USE [master]
GO
